PORT=3000
DB_PORT=5432
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=contraseña
DB_NAME=fotaza_db
JWT_SECRET=secreto_para_firmar_tokens

# Configuración de Almacenamiento ('local' o 'supabase')
STORAGE_TYPE=local

# Si usas Supabase Storage (requerido para producción/despliegue remoto):
SUPABASE_URL=https://ddaxeynqsdkkrbepwkdh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkYXhleW5xc2Rra3JiZXB3a2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2OTE5MjUsImV4cCI6MjA5NjI2NzkyNX0.iP55OlVs6PiK7UpCOLcB8WNZkHyhPvszTyqTa2Rvo24
SUPABASE_BUCKET=imagenes-fotaza
