PORT=3000
DB_PORT=5432
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=contraseña
DB_NAME=fotaza_db
JWT_SECRET=f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4b3c2d1e0f9a8

# Configuración de Almacenamiento ('local' o 'supabase')
STORAGE_TYPE=local

# Si usas Supabase Storage (requerido para producción/despliegue remoto):
SUPABASE_URL=https://ddaxeynqsdkkrbepwkdh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkYXhleW5xc2Rra3JiZXB3a2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2OTE5MjUsImV4cCI6MjA5NjI2NzkyNX0.iP55OlVs6PiK7UpCOLcB8WNZkHyhPvszTyqTa2Rvo24
SUPABASE_BUCKET=imagenes-fotaza
