extends layout

block content
    h1 Inicia sesion en Fotaza 2

    if error
      div(style="background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 4px; margin-bottom: 15px; border: 1px solid #f5c6cb; font-weight: bold; text-align: center;") #{error}

    form(action="/login", method="POST")
      
      div
        label(for="username") Nombre de usuario:
        input(type="text", name="username", id="username", required)
      div
        label(for="email") Email:
        input(type="email", name="email", id="email", required)
      div
        label(for="password") Contraseña:
        input(type="password", name="password", id="password", required)

      div
        button(type="submit") Iniciar sesion
    
    p ¿No tienes cuenta? 
    a(href="/register") Registrarse aqui